@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}